# Optimizely Internal Tools - Environment Variables

# Authentication
BEARER_TOKEN=MySecretToken123!

# Application
BASE_URL=https://alex-wald-tools.vercel.app

# JIRA Configuration
JIRA_API_TOKEN=ATATT3xFfGF0tHuZnT3kp0ei3dI4jr9mIw1A8oC8u0SRThkTJkZH8g_s5hR96So9g8bw8X1r4yt1-SUViYWApNKyreAnfu5lLFSUJsBKP63nNaWorM7IqvcfwTMlrFtu_Fd4BH5ONeMS7CfTwSHuzuC0SIewCD98WgsxQ6-xFXxckjmTygJmbgw=D9B09ECE
JIRA_BASE_URL=https://optimizely-ext.atlassian.net
JIRA_USER_EMAIL=alex.wald@optimizely.com

# JIRA Project Settings
JIRA_PROJECT_KEY=DHK
JIRA_DEFAULT_ISSUE_TYPE=Story
JIRA_DEFAULT_ASIGNEE_EMAIL=alex.wald@optimizely.com

# Field Configuration
# Individual environment variables for each JIRA field
# Set these to the JIRA field IDs for each field
# If not set, defaults to standard JIRA field IDs will be used

# JIRA_FIELD_SUMMARY=summary
# JIRA_FIELD_DESCRIPTION=description
# JIRA_FIELD_PRIORITY=priority
# JIRA_FIELD_STORY_POINTS=customfield_10016
# JIRA_FIELD_LABELS=labels

